/* @import "src/style/normalize.css"; */

:root {
  --white: #ffffff;
  --bg-white: #ffffff;
  --green: #d3f332;
  --green-hover: #e2ff50;
  --green-active: #a2b92d;
  --border-grey: #b1b1b1;
  --black: #000000;
  --bg-green: #d3f332;
  --bg-black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 55px;
  line-height: 67px;
  color: var(--white);
}

html {
  scroll-behavior: smooth; 
}

div {
  line-height: 0px;
}

h1{
  font-weight: 900;
  /* font-size: 64px; */
  /* line-height: 78px; */
  font-size: calc(30px + (64 - 30) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(30px + (67 - 30) * ((100vw - 320px) / (1440 - 320)));
}

h2 {
  font-weight: 400;
  /* font-size: 55px;
  line-height: 67px; */
  font-size: calc(20px + (50 - 20) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(20px + (67 - 20) * ((100vw - 320px) / (1440 - 320)));
}

h3 {
  font-weight: 880;
  font-size: 32px;
  line-height: 39px;
}

h4 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24.40px;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  /* padding: 0 46px; */
  padding: 0 calc(20px + (46 - 20) * ((100vw - 320px) / (1440 - 320)));
}

section {
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  scroll-snap-align: start;
}



/* ---------------------------------- */
/*  -------- Section Main ----------- */

.main {
  background-color: #000000;
}

.main__header {
  padding: 27px 0 18px 0;
}

.header-main {
  display: flex;
  justify-content: space-between;
}

.hearet-main_logo-line {
  display: flex;
  align-items: center;
}

.header-main__logo {
  height: 62px;
}

.nav-main-header {
  display: flex;
  align-items: center;
  /* transition: 0.5s;
  transition-delay: 0.5s; */
}

.nav-main-header__list {
  display: flex;
  /* transition: 0.5s; */

}

.nav-main-header__item {
  list-style-type: none;
  display: flex;
  /* font-size: 24px;
  line-height: 29.25px;
  cursor: pointer;
  transition: 0.3s; */
}


.nav-main-header__item:not(:last-child) {
  margin-right: 52px;
}

/* .nav-main-header__item_activ {
  color: var(--green);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.nav-main-header__item:hover {
  color: var(--green-hover);
  transition: 0.3s;
}

.nav-main-header__item:active {
  color: var(--green-active);
  transition: 0.3s;
} */

.nav-main-header__link {
  list-style-type: none;
  font-size: 24px;
  line-height: 29.25px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.nav-main-header__link_activ {
  color: var(--green);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.nav-main-header__link:hover {
  color: var(--green-hover);
  transition: 0.3s;
}

.nav-main-header__link:active {
  color: var(--green-active);
  transition: 0.3s;
}


.leng-main-header {
  display: flex;
  align-items: center;
}

.leng-main-header__ua, 
.leng-main-header__def, 
.leng-main-header__en {
  font-size: 24px;
  line-height: 29.25px;
}

.leng-main-header__ua {
 margin-right: 3px;
 cursor: pointer;
} 

.leng-main-header__en {
 margin-left: 2px;
 cursor: pointer;
}


.leng-main-header_active {
  color: var(--green);
}

.leng-main-header_choice {
  transition: 0.3s;
}

.leng-main-header_choice:hover {
  color: var(--green-hover);
  transition: 0.3s;
}

.leng-main-header_choice:active {
  color: var(--green-active);
  transition: 0.3s;
}


.content-main {
  /* padding-top: 57px 88px 0px 88px; */
  padding-top: calc(20px + (57 - 20) * ((100vw - 320px) / (1440 - 320)));
  padding-left: calc(20px + (88 - 20) * ((100vw - 320px) / (1440 - 320)));
  padding-right: calc(20px + (88 - 20) * ((100vw - 320px) / (1440 - 320)));
}

.content-main__img {
  width: calc(160px + (209 - 160) * ((100vw - 320px) / (1440 - 320)));
}

.content-main__img, 
.content-main__title {
  margin-bottom: calc(20px + (74 - 20) * ((100vw - 320px) / (1440 - 320)));
}

.content-main__text {
  /* font-size: 36px; */
  /* line-height: 43.90px; */
  font-size: calc(18px + (36 - 18) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(25px + (44 - 25) * ((100vw - 320px) / (1440 - 320)));
  /* display: block; */
}

.btn-main-content {
  display: flex;
}

.content-main__link {
  /* height: 49px; */
  /* height: calc(20px + (49 - 20) * ((100vw - 320px) / (1440 - 320))); */
  /* width: 228px; */
  margin-left: calc(20px + (65 - 20) * ((100vw - 320px) / (1440 - 320)));
  padding: 11px 11px 9px 11px;
  padding: 0 calc(4px + (11 - 4) * ((100vw - 320px) / (1440 - 320)));
  padding-top: calc(0px + (11 - 0) * ((100vw - 320px) / (1440 - 320)));
  padding-bottom: calc(6px + (9 - 6) * ((100vw - 320px) / (1440 - 320)));
  font-weight: 276;
  font-size: 24px;
  line-height: 29.30px;
  background-color: var(--green);
  text-decoration: none;
}

.content-main__link:hover {

}

.content-main__letter {
  /* height: 28px; */
  /* width: 46px; */
  height: calc(14px + (28 - 14) * ((100vw - 320px) / (1440 - 320)));
  width: calc(23px + (46 - 23) * ((100vw - 320px) / (1440 - 320)));

  margin-bottom: calc(-2px + ((-5) - (-2)) * ((100vw - 320px) / (1440 - 320)));
}

.content-main__letter-text {
  font-weight: 276;
  /* font-size: 24px; */
  /* line-height: 29.30px; */
  font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(15px + (30 - 15) * ((100vw - 320px) / (1440 - 320)));
  color: var(--black);
  text-decoration: underline 1px solid;
  text-underline-offset: calc(2px + (3 - 2) * ((100vw - 320px) / (1440 - 320))) ;
}

/* .btn-main-content__icon,
.btn-main-content__text {
  display: block;
} */

/*  -------- Section Main ----------- */
/* ---------------------------------- */




/* ----------------------------------- */
/*  -------- Section About ----------- */

.about {
  /* padding-top: 42px; */
  padding: calc(20px + (42 - 20) * ((100vw - 320px) / (1440 - 320))) 0px;
  background-color: var(--bg-black);
}

.about__title {
  /* margin-bottom: 76px; */
  margin-bottom: calc(20px + (76 - 20) * ((100vw - 320px) / (1440 - 320)));
}

.content-about {
  display: flex;
  /* padding-left: 61px; */
  padding-left: calc(15px + (61 - 15) * ((100vw - 320px) / (1440 - 320)));
}

.content-about__left-block {
  width: 44%;
  margin-right: 4%;
}

.content-about__right-block {
  width: 40%;
}

.content-about__text-color {
  font-weight: 449;
  color: var(--green);
}

.content-about p, span {
  font-weight: 300;
  /* font-size: 28px; */
  font-size: calc(14px + (28 - 14) * ((100vw - 320px) / (1440 - 320)));;
  /* line-height: 34.13px; */
  line-height: calc(15px + (34 - 15) * ((100vw - 320px) / (1440 - 320)));;
}

.content-about p:not(:last-child) {
  /* margin-bottom: 25px; */
  margin-bottom: calc(10px + (25 - 10) * ((100vw - 320px) / (1440 - 320)));;
}

/*  -------- Section About ----------- */
/* ----------------------------------- */





/* -------------------------------------- */
/*  -------- Section Services ----------- */

.services {
  padding: calc(20px + (42 - 20) * ((100vw - 320px) / (1440 - 320))) 0px;
  background-color: var(--bg-black);
}

.services__title {
  padding-bottom: calc(20px + (105 - 20) * ((100vw - 320px) / (1440 - 320)));
}

.carousel__container {
  position: relative;
  padding: 0 30px;
}

.services__arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}

.services__arrow:hover {
  filter: invert(77%) sepia(91%) saturate(393%) hue-rotate(36deg) brightness(108%) contrast(91%);
  transition: 0.3s;
}

.services__arrow:active {
  filter: invert(57%) sepia(91%) saturate(93%) hue-rotate(46deg) brightness(108%) contrast(91%);
  transition: 0.3s;
}

.services__arrow:first-child {
  left: -22px;
}

.services__arrow:last-child {
  right: -22px;
}

.carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 22px);
  gap: 28px;
  /* overflow: hidden; */
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
  display: none;
} 

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card-carousel {
  cursor: grab;
  user-select: none;

}

.card-carousel {
  scroll-snap-align: start;
  /* height: 400px; */
  /* 400 / 1440 * 100 */
  height: calc(280px + (400 - 280) * ((100vw - 320px) / (1440 - 320)));
  /* width: 347px; */
  /* width: 300px; */
  /* width: calc(218px + (300 - 218) * ((100vw - 320px) / (1440 - 320))); */
  list-style: none;
  border: 1px solid var(--border-grey);
  padding: 80px 20px;
}

.card-carousel__box-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 78%;
  margin-bottom: -10px;
}

.card-carousel__box-title span {
  font-weight: 880;
  font-size: 32px;
  /* font-size: calc(16px + (32 - 16) * ((100vw - 320px) / (1440 - 320))); */
  line-height: 39px;
  /* line-height: calc(16px + (39 - 16) * ((100vw - 320px) / (1440 - 320))); */
  color: var(--green);
}

.card-carousel__img {
  width: 77%;
}

.card-carousel__link {
  display: inline-flex;
  /* margin-left: 35%; */
  margin-left: 95px;
  /* margin-left: calc(16px + (95 - 16) * ((100vw - 320px) / (1440 - 320))); */
  text-decoration: none;
}

.card-carousel__link img {
  margin-left: 7px;
  margin-top: 4px;
  height: 18px;
}

.card-carousel__link-text {
  font-weight: 449;
  /* font-size: 20px; */
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1440 - 320)));
  /* line-height: 24.40px; */
  line-height: calc(16px + (20 - 16) * ((100vw - 320px) / (1440 - 320)));
  color: var(--green);
  text-decoration: underline 1px solid;
  text-underline-offset: calc(2px + (3 - 2) * ((100vw - 320px) / (1440 - 320))) ;
}

/*  -------- Section Services ----------- */
/* -------------------------------------- */





/* --------------------------------------- */
/*  -------- Section Our cases ----------- */

.cases {
  padding: calc(20px + (42 - 20) * ((100vw - 320px) / (1440 - 320))) 0px;
  /* background-color: rgb(233, 217, 72); */
  background-color: var(--bg-black);
}

.cases__title {
  font-weight: 400;
  /* font-size: 55px; */
  /* font-size: calc(20px + (50 - 20) * ((100vw - 320px) / (1440 - 320))); */
  margin-bottom: calc(20px + (40 - 20) * ((100vw - 320px) / (1440 - 320)));
  /* line-height: 67px; */
  /* line-height: calc(20px + (67 - 20) * ((100vw - 320px) / (1440 - 320))); */
}

.container-cards {
  display: flex;
  /* height: 60%; */
  height: 60vh;
}



.container-cards__box {
  /* height: calc(20px + (40 - 20) * ((100vw - 320px) / (1440 - 320))); */
  /* height: 393px; */
  /* width: 703px; */
  /* width: 55%; */
  /* background-size: cover; */
  height: 50vh;
}

.container-cards__box:not(:last-child) {
  /* margin-right: 7%; */
  margin-right: 7%;
}

.container-cards__box {
  /* flex: 1; */
  width: 12%;
  /* background-image: url('../image/cards/card-1.jpg'); */
  transition: all 500ms ease-in-out;
}

.container-cards__box_active {
  /* flex: 5; */
  width: 50%;
}

.container-cards__box:nth-child(2) {
  /* width: 12%; */
  /* background-image: url('../image/cards/card-1.jpg'); */
}

.container-cards__box:nth-child(3) {
  /* width: 12%; */
  /* background-image: url('../image/cards/card-1.jpg'); */
}

.container-cards__box:nth-child(4) {
  /* width: 12%; */
  /* background-image: url('../image/cards/card-1.jpg'); */
}



.container-cards__card {
  border-radius: 20px;
  height: 40vh;
  margin-bottom: calc(20px + (35 - 20) * ((100vw - 320px) / (1440 - 320)));
}

/* .container-cards__container-blackout {
  background: linear-gradient(-90deg, #000000 0%, rgba(0, 0, 0, 0.5) 14%, rgba(0, 0, 0, 0) 30.73%);
} */

.container-cards__link {
  position: relative;
  /* background: linear-gradient(-90deg, #000000 0%, rgba(0, 0, 0, 0.5) 14%, rgba(0, 0, 0, 0) 30.73%), url('../image/cards/card-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
}

.container-cards__link-first {
  background: linear-gradient(-90deg, #000000 0%, rgba(0, 0, 0, 0.5) 14%, rgba(0, 0, 0, 0) 30.73%), url('../image/cards/card-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-cards__link-second {
  background: linear-gradient(-90deg, #000000 0%, rgba(0, 0, 0, 0.5) 14%, rgba(0, 0, 0, 0) 30.73%), url('../image/cards/card-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-cards__link-three {
  background: linear-gradient(-90deg, #000000 0%, rgba(0, 0, 0, 0.5) 14%, rgba(0, 0, 0, 0) 30.73%), url('../image/cards/card-3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container-cards__link-fourth {
  background: linear-gradient(-90deg, #000000 0%, rgba(0, 0, 0, 0.5) 14%, rgba(0, 0, 0, 0) 30.73%), url('../image/cards/card-4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.container-cards__box a {
  display: block;
  height: 100%;
}

.container-cards__link img {
  position: absolute;
  top: 80%;
  left: 4%;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(104deg) brightness(103%) contrast(103%);
  /* width: 11.52%;    81 / 703 * 100 = 11.52 */
  /* padding-top: 11.52%;  81 / 703 * 100 */
  transform: translate(0%, -50%);
}

.container-cards__text {
  font-weight: 500;
  /* font-size: 20px; */
  font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1440 - 320)));
  /* line-height: 24.40px; */
  line-height: calc(12px + (24.40 - 12) * ((100vw - 320px) / (1440 - 320)));
  margin-left: calc(5px + (10 - 5) * ((100vw - 320px) / (1440 - 320)));
}



/* .container-cards__card {
  background-image: url('../image/cards/card-1.jpg');
} */

/*  -------- Section Our cases ----------- */
/* --------------------------------------- */






.hamburger {
  cursor: pointer;
  display: none;
  position: relative;
  margin-right: 37px;
  width: 31px;
  height: 23px;
}

.hamburger__line {
  width: 31px;
  height: 3px;
  position: relative;
	transform: translateY(10px);
	/* background: rgb(0, 0, 0); */
	background: var(--bg-white);
	transition: all 0ms 300ms;
}

.hamburger__line.animate {
  background: rgba(255, 255, 255, 0); 
  /* background: var(--bg-white);  */
}

.hamburger__line::before {
  content: "";
  position: absolute;
  width: 31px;
  height: 3px;
  left: 0;
  bottom: 10px;
  /* background: rgb(0, 0, 0); */
  background: var(--bg-white);
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.hamburger__line::after {
  position: absolute;
  content: "";
  width: 31px;
  height: 3px;
  left: 0;
  top: 10px;
  /* background: rgb(0, 0, 0); */
  background: var(--bg-white);
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);;
}

.hamburger__line.animate::after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger__line.animate::before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}




/* ------------------------------------- */
/* -------------- Media ---------------- */


@media(max-width: 1200px) {

  .nav-main-header__item:not(:last-child) {
    margin-right: 30px;
  }

}


@media(max-width: 1023px) {
  
  section {
    height: 100%;
  }
  
  .container {
    scroll-snap-type: none;
    height: 100%;
  }

  .main {
    padding-bottom: calc(20px + (60 - 20) * ((100vw - 320px) / (1440 - 320)));
  }

  .about {
    padding-bottom: calc(20px + (55 - 20) * ((100vw - 320px) / (1440 - 320)));
  }

  .content-about__left-block {

    margin-right: 6%;
  }


}





@media(max-width: 1035px) {

  .overlay-not {
    overflow: hidden;
    position: fixed;
  }
  
  .hamburger {
    display: inline-block;
  }

  .nav-main-header {
    position: absolute;
    top: 107px;
    left: -800px;
    width: 100%;
    padding-top: calc(20px + (50 - 20) * ((100vw - 320px) / (1440 - 320)));
    transition: 0.5s;
    /* transition-delay: 0.5s; */
    flex-direction: column;
    align-items: center;
  }

  .nav-main-header.nav-main-header_active {
    display: block;
    left: 0px;
    height: 100%;
    background-color: #FFFFFF;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1.0);
    transition: 0.5s;
    position: fixed;
  }

  .nav-main-header__list {
    flex-direction: column;
    align-items: center;
  }

  .nav-main-header__item {
    margin-bottom: calc(20px + (40 - 20) * ((100vw - 320px) / (1440 - 320)));
  }

  .nav-main-header__item:not(:last-child) {
    margin-right: 0px;
  }

  /* ----------------------------------------------- */

  .container-cards__link img {
    top: 85%;
    width: 55px;
    height: 55px;
  }

  /* ----------------------------------------------- */

  .carousel {
    grid-auto-columns: calc((100% / 3) - 20px);
  }

}



@media(max-width: 763px) {

  .content-about {
    flex-direction: column;
    display: flex;
    padding: 0px calc(15px + (61 - 15) * ((100vw - 320px) / (1440 - 320)));
  }

  .content-about__left-block {
    width: 80%;
    margin: 0 auto;
    margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1440 - 320)));
  }

  .content-about__right-block {
    width: 80%;
    margin: 0 auto;
  }

  .container-cards__box:not(:last-child) {
    margin-right: 5%;
  }

  .container-cards__box p {
    opacity: 0;
  }

  .container-cards__box_active p {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }


  .carousel {
    grid-auto-columns: calc((100% / 2) - 15px);
  }

}

@media(max-width: 600px) {

  .carousel {
    grid-auto-columns: calc((100% / 1) - 0px);
  }

}



@media(max-width: 500px) {

  .content-about__left-block {
    width: 95%;
    margin: 0 auto;
    margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1440 - 320)));
  }

  .content-about__right-block {
    width: 95%;
    margin: 0 auto;
  }

  .container-cards__box {
    /* flex: 1; */
    width: 12%;
    /* background-image: url('../image/cards/card-1.jpg'); */
    transition: all 500ms ease-in-out;
  }

  .container-cards__box:not(:last-child) {
    margin-right: 3%;
  }
  
  .container-cards__box_active {
    /* flex: 5; */
    width: 50%;
  }

  .container-cards__link img {
    top: 90%;
    left: 7%;
    width: 40px;
    height: 40px;
  }


}


@media(max-width: 500px) {

  .container-cards__link img {
    top: 90%;
    left: 7%;
    width: 25px;
    height: 25px;
  }

}